# --- Build directories ---
Debug/
Release/
build/
out/
lib/

# Fichiers objets et binaires
*.o
*.d
*.a
*.so
*.exe
*.sqbpro
PkmnRPG

# Makefiles générés automatiquement
**/makefile
**/sources.mk
**/subdir.mk

# --- Autres ---
.metadata/
.project
.cproject
.settings/
.idea
CMakeLists.txt

# Not including any copyrighted material
sounds/
fonts/
object_sprites/
map_sprites/
pkmn_sprites/
battleground.png
opponentBattleUIbox.png
playerBattleUIbox.png
*.db
